@charset "UTF-8";
body {
  max-width: 1440px;
}

body {
  font-family: "Roboto", sans-serif;
}

.restaurant_title, .bloc-footer__title {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

button {
  font-family: "Roboto", sans-serif;
}

/* Bouton Rechercher */
.header-button {
  background: #FF79DA;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 60%);
  border-radius: 40px;
  text-decoration: none;
  box-shadow: 0px 10px 30px 0px rgb(182, 181, 181);
  transition: all ease 0.1s;
}
.header-button__text {
  color: white;
  font-size: 20px;
  padding: 0 40px;
  font-weight: 500;
}
.header-button:hover {
  transform: scale(1.05);
}

/* Flèche Retour */
.left__arrow {
  text-decoration: none;
  color: #333333;
}

/* Bouton Commander */
.end-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;
  transition: all ease 0.3s;
}
.end-button__style {
  background-color: #FF79DA;
  background: linear-gradient(170deg, #FF79DA 0%, #9356DC 60%);
  border-radius: 40px;
  box-shadow: 0px 10px 30px 0px rgb(182, 181, 181);
  padding: 0 60px;
}
.end-button__text {
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.end-button:hover {
  transform: scale(1.05);
}
.end-button a {
  text-decoration: none;
}

.menu__cards {
  opacity: 0;
  position: relative;
}

#one {
  animation: fadein 1s;
  animation-fill-mode: forwards;
}

#two {
  animation: fadein 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

#three {
  animation: fadein 1s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

#four {
  animation: fadein 1s;
  animation-delay: 0.9s;
  animation-fill-mode: forwards;
}

#five {
  animation: fadein 1s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
}

#six {
  animation: fadein 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}

#seven {
  animation: fadein 1s;
  animation-delay: 1.8s;
  animation-fill-mode: forwards;
}

#eight {
  animation: fadein 1s;
  animation-delay: 2.1s;
  animation-fill-mode: forwards;
}

#nine {
  animation: fadein 1s;
  animation-delay: 2.3s;
  animation-fill-mode: forwards;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.resto {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
}

.bloc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

/* Cards Restaurant */
.bloc__card {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 90%;
  overflow: hidden;
  background-color: white;
  margin-bottom: 20px;
  border-radius: 20px;
  transition: all ease 0.3s;
}
.bloc__card:hover {
  transform: scale(1.05);
}
.bloc__card a {
  text-decoration: none;
  color: inherit;
}
.bloc__card--img {
  height: 250px;
  overflow: hidden;
}
.bloc__card img {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bloc__card .new {
  position: absolute;
  border-radius: 5%;
  padding: 5px 10px;
  right: 20px;
  top: 20px;
  font-size: small;
  font-weight: 600;
  background-color: #99E2D0;
  color: #278870;
}

.bloc__card--detail {
  position: relative;
  margin: 15px;
}
.bloc__card--detail h3 {
  margin: 0;
}
.bloc__card--detail p {
  margin: 0;
}

/* Cards Menu */
.menu__cards {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 10px 10px 10px 0px rgb(214, 212, 212);
  transition: border-right ease 0.5s;
  border: #99E2D0;
  flex-wrap: nowrap;
  cursor: pointer;
}
.menu__cards .menu__dishes {
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  flex-wrap: nowrap;
  overflow: hidden;
}
.menu__cards .menu__dishes--complement {
  margin: 0;
  font-size: 14px;
  text-overflow: ellipsis;
}
.menu__cards .menu__dishes--price {
  margin: 0;
  font-weight: bolder;
}
.menu__cards .menu__content {
  display: flex;
  justify-content: space-between;
}
.menu__cards:hover {
  border-right: solid 60px #99E2D0;
}
.menu__cards:hover .check {
  transform: rotate(360deg);
  opacity: 1;
}

h3 {
  flex-wrap: nowrap;
  text-overflow: ellipsis;
}

.check {
  color: white;
  position: absolute;
  right: -35px;
  top: 25px;
  opacity: 0;
  transform: rotate(180deg);
  transition: transform ease 0.5s;
}

.bloc-filtre {
  display: flex;
  flex-direction: column;
}
.bloc-filtre .filtre__resto {
  display: flex;
  align-items: center;
  height: 80px;
  background-color: rgb(250, 250, 250);
  padding-right: 10px;
  margin: 20px;
  border-radius: 20px;
  position: relative;
  margin-left: 30px;
  box-shadow: 0px 10px 40px 0px rgb(218, 218, 218);
  transition: all ease 0.2s;
}
.bloc-filtre .filtre__resto--text {
  margin-left: 80px;
  font-weight: 600;
  font-size: 14px;
}
.bloc-filtre .filtre__resto i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  position: absolute;
  left: 40px;
}
.bloc-filtre .filtre__resto--num {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  font-size: 10px;
  top: 20px;
  left: -10px;
  height: 20px;
  width: 20px;
  background-color: #9356DC;
  border-radius: 50%;
}
.bloc-filtre .filtre__resto:hover {
  background-color: #e4d5f6;
  transform: scale(1.05);
}
.bloc-filtre .filtre__resto:hover i {
  color: #9356DC;
}
.bloc-filtre a {
  text-decoration: none;
  color: inherit;
}

.heart {
  position: absolute;
  right: 30px;
  bottom: 40px;
  color: #9356DC;
}
.heart:hover .heart__effect {
  opacity: 1;
}

.heart__icone {
  position: absolute;
}

.heart__effect {
  position: absolute;
  opacity: 0;
  transition: all ease 0.3s;
}

.heart__restaurant {
  font-size: 24px;
  font-weight: lighter;
  position: absolute;
  right: 60px;
  cursor: pointer;
}
.heart__restaurant:hover .heart__effect {
  opacity: 1;
}

.menu {
  width: 100%;
  justify-content: center;
  background-color: rgb(250, 250, 250);
  border-radius: 40px 40px 0px 0px;
  position: relative;
}
.menu__title {
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: lighter;
  padding-bottom: 20px;
}
.menu ul {
  list-style: none;
  padding: 0;
  padding: 0 20px;
}

.menu__title::before {
  content: "";
  position: absolute;
  bottom: 10px;
  height: 4px;
  background-color: #99E2D0;
  width: 45px;
}

.section__restaurant--title {
  display: flex;
  align-items: center;
}

.restaurant_title {
  font-size: 24px;
  position: relative;
  padding-left: 20px;
}

header {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  padding-bottom: 60px;
}
header .logo {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
}

.location__link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: rgb(88, 88, 88);
  background-color: rgb(236, 234, 234);
  box-shadow: inset 0px 10px 10px -5px rgb(182, 182, 182);
  width: 100%;
}
.location__link .location__text {
  margin-left: 20px;
  font-weight: 600;
}
.location__link i {
  font-size: large;
  margin-bottom: 5px;
}

.blocHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.blocHeader .blocHeader__title {
  font-weight: 800;
  font-size: 22px;
  width: 80%;
  line-height: 1;
}
.blocHeader .blocHeader__text {
  font-weight: 300;
  color: rgb(88, 88, 88);
}

.header_menu {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.left__arrow {
  margin-left: 20px;
  position: absolute;
  left: 20px;
  top: 20px;
}

.logo_menu {
  position: relative;
}

.img_menu {
  position: relative;
  top: 40px;
  width: 100%;
  height: 300px;
}
.img_menu img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer {
  background-color: #1a1a1a;
  color: #e6e6e6;
  padding: 20px;
  line-height: 0;
}
footer .bloc-footer__title {
  font-size: 16px;
  font-weight: lighter;
  margin-bottom: 20px;
}
footer .bloc-footer__icone {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .icone-espace {
  margin-right: 10px;
}
footer .espace-text {
  font-size: 14px;
}
footer .bloc-footer__text {
  font-size: 14px;
  line-height: 1;
}
footer p:hover {
  color: white;
}

@media only screen and (min-width: 992px) {
  .bloc-filtre {
    align-items: center;
  }

  .filtre {
    align-items: center;
    width: 50%;
  }
}

/*# sourceMappingURL=styles.css.map */
