.header_menu{
    display: flex;
    flex-direction: column;
    padding: 0;
    
}

.left__arrow{
    margin-left: 20px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.logo_menu{
    position: relative;
}

.img_menu{
    top: 50px;
    width: 100%;
    & img{
        height: 100%;
        width: 100%;
    }
}
