header{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 250, 250);
    padding-bottom: 60px;
    .logo{
        display: flex;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 10px;
    } 
}


.location__link{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:rgb(88, 88, 88);;
    background-color: rgb(236, 234, 234);
    box-shadow: inset 0px 10px 10px -5px rgb(182, 182, 182);
    width: 100%;
    .location__text{
        margin-left: 20px;
        font-weight: 600;
    }
    i{
        font-size: large;
        margin-bottom: 5px;
    }
}


.blocHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .blocHeader__title{
        font-weight: 800;
        font-size: 22px;
        width: 80%;
        line-height: 1;
    }
    .blocHeader__text{
        font-weight: 300;
        color:rgb(88, 88, 88);;
    }
}