@media only screen and (min-width:992px){

  body{
    margin: 0 auto;
  }

  .bloc-filtre{
    align-items: center;
  }


    .filtre{
        align-items: center;
        width: 50%;
    }

    .filtre__resto{
        justify-content: center;
        
    }


    .loader__anim{
      left: 50%;
      top: 50%;
    }
}


@media only screen and (min-width:768px){
  .loader__anim{
    left: 45%;
    top: 45%;
  }
}