


@media only screen and (min-width:768px){

  .filtre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__title{
      display: flex;
      justify-content: center;
    }

    &__resto{
      width: 300px;
    }
  }


  .heart__restaurant{
    right: 100px;
  }



  .menu__subpart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menu__cards{
    width: 27%;
    box-sizing: border-box;
  }

  .menu__title{
    width: 100px;
    padding: 0px;
    top: 10px;

    &::before{
      bottom: 50px;
    }

  }


}

@media only screen and (max-width:290px){
  .heart__restaurant{
    right: 50px;
  }

  .left__arrow{
    left: 0px;
  }

  .header-button{
    width: 90%;
  }
  
  .bloc{
    align-self: center;
    width: 90%;
  }
}