


@media only screen and (min-width:768px){

  .filtre{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__title{
      display: flex;
      justify-content: center;
    }

    &__resto{
      width: 300px;
    }
  }



  .menu__subpart{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .menu__cards{
    width: 30%;
    box-sizing: border-box;
  }

  .menu__title{
    width: 100px;
  }


}