.menu{
    width: 100%;
    justify-content: center;
    background-color: rgb(250, 250, 250);
    border-radius: 40px 40px 0px 0px ;
    position: relative;

    &__title{
        position: relative;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: lighter;
        padding-bottom: 20px;
    }

    & ul{
        list-style: none;
        padding: 0;
        padding: 0 20px;
    }
}

.menu__title::before{
    content: '';
    position: absolute;
    bottom: 10px;
    height: 4px;
    background-color: $colour-tertiary;
    width: 45px;
    
}



.section__restaurant--title{
    display: flex;
    align-items: center;
    
}

.restaurant_title{
    font-size: 30px;
    position: relative;
    padding-left: 20px;
    
}