.menu__cards{
    opacity: 0;
}


#one{
    animation: fadein 1s;
    transition: animation;
    animation-fill-mode: forwards;
}
#two{
    animation: fadein 1s;
    transition: animation;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
}
#three{
    animation: fadein 1s;
    transition: animation;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
    
}
#four{
    animation: fadein 1s;
    transition: animation;
    animation-delay: 0.9s;
    animation-fill-mode: forwards;
}
#five{
    animation: fadein 1s;
    transition: animation;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
}
#six{
    animation: fadein 1s;
    transition: animation;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
#seven{
    animation: fadein 1s;
    transition: animation;
    animation-delay: 1.8s;
    animation-fill-mode: forwards;
}
#eight{
    animation: fadein 1s;
    transition: animation;
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
}
#nine{
    animation: fadein 1s;
    transition: animation;
    animation-delay: 2.3s;
    animation-fill-mode: forwards;
}






@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}