.heart{
    position: absolute;
    right: 30px;
    bottom: 40px;
    color: $colour-primary;

    &:hover{
        .heart__effect{
            opacity: 1;
        }
    }
}

.heart__icone{
    position: absolute;
}

.heart__effect{
    position: absolute;
    opacity: 0;
    &:hover{
        animation: fulfill 0.5s;
        animation-fill-mode: forwards;
    }
}


.heart__restaurant{
    font-size: 24px;
    font-weight: lighter;
    position: absolute;
    right: 60px;
    cursor: pointer;
}

